astroid==2.4.2
boto==2.49.0
boto3==1.14.7
botocore==1.17.7
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
configparser==5.0.0
crayons==0.3.0
cycler==0.10.0
demjson==2.2.4
docutils==0.15.2
Flask==1.1.2
gensim==3.7.1
gunicorn==20.0.4
idna==2.9
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mysql-connector==2.2.9
nose==1.3.7
numpy==1.18.4
opencv-contrib-python==4.2.0.34
opencv-python==4.2.0.34
pandas==0.24.2
PDF-Layout-Scanner==1.3.3
pdfminer.six==20181108
pycryptodome==3.9.7
pylint==2.6.0
PyMySQL==0.9.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.1
requests==2.23.0
s3transfer==0.3.3
scikit-learn==0.23.2
scipy==1.5.0
selenium==3.141.0
six==1.14.0
smart-open==2.0.0
sortedcontainers==2.2.2
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.50.0
typed-ast==1.4.1
urllib3==1.25.9
webdriver-manager==2.4.0
Werkzeug==1.0.1
wrapt==1.12.1
xlrd==1.2.0
xmltodict==0.12.0
